<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
<div class="modal-shiftfix">
    <% include header %>
    <div class="container-fluid main-content">

        <% include leftmenu %>
        <div class="col-md-8 section">
            <h4 class="hotheading">Discover</h4>

            <% include ../featured/featuredBanner %>
            <div class="fullwidth featuredFloat">
                <% include ../featured/gameOfThronesPreview %>
            </div>

            <!--
                This is the home page What's hot featured.
                @hot is the list of items with featured set to true
            -->
            <div class="fullwidth featuredFloat">
                <hr/>
                <h4 id="hot" class="hotheading">Whats hot!</h4>

                <% for(var i = 0; i < hot.length; i++) { %>
                <div class="featuredItem">
                    <div class="featuredFloat">
                        <div class="featuredNew widget-content text-center featuredWidget">
                            <div class="featuredNew-thumbnail" >
                                <a href="/single?q=<%= hot[i]['title'] %>&id=<%= hot[i]['id'] %>">
                                    <img src="<%= hot[i]['image'] %>">
                                </a>
                            </div>
                            <div class="details" style="padding-left: 5px;">
                                <p style="">
                                    <% if (hot[i]['title'].toString().length > 24) { %>
                                    <%= hot[i]['title'].toString().substring(0, 24) %>..
                                    <% }else { %>
                                    <%= hot[i]['title'] %>
                                    <% } %>
                                </p>

                                <p style="white-space: pre;font-size:12px;color:#808080;"><%= hot[i]['author'] %></p>
                                <a href="#"><%= hot[i]['date'] %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <!-- End of Hot titles -->

            <!--
                This is the home page Staff Picks featured.
                @res is the list of items with featured set to true
            -->
            <div class="fullwidth featuredFloat">
                <hr/>
                <h4 id="staff" class="hotheading">Staff Picks</h4>

                <% for(var i = 0; i < pick.length; i++) { %>
                <div class="featuredItem">
                    <div class="featuredFloat">
                        <div class="featuredNew widget-content text-center featuredWidget">
                            <div class="featuredNew-thumbnail" style="">
                                <a href="/single?q=<%= pick[i]['title'] %>&id=<%= pick[i]['id'] %>">
                                    <img src="<%= pick[i]['image'] %>">
                                </a>
                            </div>
                            <div class="details" style="padding-left: 5px;">
                                <p style="">
                                    <% if (pick[i]['title'].toString().length > 24) { %>
                                    <%= pick[i]['title'].toString().substring(0, 24) %>..
                                    <% }else { %>
                                    <%= pick[i]['title'] %>
                                    <% } %>
                                </p>

                                <p style="white-space: pre;font-size:12px;color:#808080;"><%= pick[i]['author'] %></p>
                                <a class="showOptions" href="#"><%= pick[i]['date'] %></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <!-- End of Staff Pick titles -->
        </div>

        <div class="col-md-2 section hidden-xs hidden-sm" id="right-col-browse">
            <div class="featuredItem">
                <h4>New Books Today</h4>
                <!-- Book of the day @todo the script to automate still -->
                <div class="featuredNew widget-content text-center featuredWidget">
                    <div class="featuredNew-thumbnail" style="width: auto;">
                        <a href="http://localhost:8080/single?q=Severed%20Souls&t=title"><img style="max-width:160px;width:160px;"
                                        src="http://ecx.images-amazon.com/images/I/51pXmun9LfL.jpg"></a>
                    </div>
                    <div class="details" style="padding-left: 5px;">
                        <p>Severed Souls</p>

                        <p style="white-space: pre;font-size:12px;color:#808080;">Goodkind, Terry</p>
                        <a class="showOptions" href="#">04-08-2014</a>
                    </div>
                </div>
                <!-- End of Book of the day -->
            </div>
        </div>
    </div>
    <% include footer %>
</div>
</body>

</html>