<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<% include head.ejs %>
<body>
<div class="container-fluid main-content">
    <div class="modal-shiftfix">
        <% include header %>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            //This code temp changes .coms to .ca for amazon referral
            $(document).ready(function () {
                /*
                 if (google.loader.ClientLocation) {
                 visitor_countrycode = google.loader.ClientLocation.address.country_code;
                 if (visitor_countrycode == "CA") {
                 $('.amazonlink').click(function() {
                 link = $(this).attr('href');
                 console.log(link)
                 link = link.split(".com").join(".ca");
                 link = link.split("lookfwd-20").join("lookfwd01-20");
                 $('.amazonlink').attr('href', link);
                 });
                 }
                 }
                 */
                $('iframe').contents().find('#content').css('border', 'none');
            });
        </script>
        <script>
            $(function () {
                var frm = $('.ajaxsubmit');
                $.each(frm, function (i, val) {
                    var k = i;
                    var indfrm = $("#book" + k + " .ajaxsubmit")
                    var indfrmbtn = $("#book" + k + " .ajaxsubmit .btn")
                    k++;
                    indfrm.submit(function (ev) {
                        $.ajax({
                            type: indfrm.attr('method'),
                            url: indfrm.attr('action'),
                            data: indfrm.serialize(),
                            success: function (data) {
                                indfrm.find($('.btn')).val("Added")
                                indfrm.find($('.btn')).css("background-color", "#60c560");
                                indfrm.find($('.btn')).css("color", "#fff");
                            }
                        });
                        ev.preventDefault();
                    });
                });
            });
        </script>
    </div>

    <% include leftmenu %>
    <div class="col-md-9 section" id="book-results" style="display: block;">
        <h4 style="font-weight:400">Search Results</h4>
        <% if (res.length < 1) { %>
        <div class="movie widget-content text-center">
            <h1>No Results Found</h1>
        </div>
        <% } else { %>
        <% for(var i = 0; i < res.length; i++) { %>
        <div class="movie widget-content text-center" id="book<%= i %>">
            <hr/>
            <div class="mov-thumbnail">
                <img src=<%= res[i]['image'] %>>

                <div style="width: 100%;float: left;">
                    <% if (res[i]['amazon']) { %>
                    <!--
                    <a class="amazonlinka" href="<%= res[i]['amazon'] %>">
                        <img width="30px" target="_blank" style="width: 30px;" class="amazon-link"
                             src="http://www.nuance.com/assets/images/icon_flag_us.png">
                    </a>
                    -->
                    <span style="float: left;margin-top:20px;width:100%;text-align: left;">Get it from:</span>
                    <a class="amazonlinka"
                       href="<%= res[i]['amazon'].toString().replace('.com', '.ca').replace('lookfwd-20', 'lookfwd01-20') %>">
                        <img target="_blank" style="width: 70px;" class="amazon-link"
                             src="http://www.neema.ca/sites/neema/files/amazon_ca.gif">
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="info ">
                <h1>
                    <a href="/single?q=<%= res[i]['title'] %>&t=title"><%= res[i]['title'] %></a>
                </h1>

                <p>
                    <%= res[i]['author'] %>
                </p>

                <h3>
                    <% var date =  (res[i]['date']); %>
                    <% if (date == "31-12-1969"){ %>
                    Release Date: TBA
                    <% } else { %>
                    Release Date: <%= date %>
                    <% } %>
                </h3>

                <p>
                    <% desc = "" + res[i]['desc'].toString().replace(/<(?:.|\n)*?>/gm, '') %>
                    <% if (desc.length > 300) { %>

                <p><%= desc.substring(0, 300) + "..." %></p>
                <a class="btn btn-xs btn-success" style="color: white;" href="/single?q=<%= res[i]['title'] %>">Read
                    More</a>
                <% } else { %>
                <%= desc %>
                <% } %>
                </p>
            </div>
            <% if (date != "31-12-1969"){ %>
            <div class="calendar">
                <a href="http://lookfwd.info" title="Add to Calendar" class="addthisevent">
                    Add to Calendar
                    <span class="_start" style="display: none;"><%= res[i]['date'] %></span>
                    <span class="_end" style="display: none;"><%= res[i]['date'] %></span>
                    <span class="_summary" style="display: none;"><%= res[i]['title'] %> is out! </span>
                    <span class="_description"
                          style="display: none;">The book is out! <br>Amazon Link: <%= res[i]['amazon'] %></span>
                    <span class="_organizer" style="display: none;">Lookfwd</span>
                    <span class="_date_format" style="display: none;">DD/MM/YYYY</span>
                </a>

                <form class="ajaxsubmit" style="float:left;" action="/search" method="post">
                    <input name="image" class="hidden form-control" type="text"
                           value="<%= res[i]['image'] %>">
                    <input name="bookID" class="hidden form-control" type="text"
                           value="<%= res[i]['_id'] %>">
                    <input name="title" class="hidden form-control" type="text"
                           value="<%= res[i]['title'] %>">
                    <input name="date" class="hidden form-control" type="text"
                           value="<%= res[i]['date'] %>">
                    <input name="author" class="hidden form-control" type="text"
                           value="<%= res[i]['author'] %>">
                    <input name="user" class="hidden form-control" type="text" value="Guest">
                    <br/>
                    <input class="btn btn-sm btn-primary btn-block" type="submit" value="Add to Lookfwd">
                </form>
            </div>
            <% } %>
        </div>
        <% } %>
        <hr/>
        <% if (!pg) {
            pg = 1
        } %>
        <div class="dataTables_info" id="dataTable1_info">
            <% if (c > 0) { %>
            Showing <%= (pg - 1) * 10 + 1 %>
            to
            <% if ((c < 10) || (pg * 10 > c)) { %>
            <%= c %>
            <% } else { %>
            <%= pg * 10 %>
            <% } %>
            of <%= c %> entries
            <% } %>
        </div>
        <% if (c > 10) { %>
        <div class="dataTables_paginate paging_full_numbers" id="dataTable1_paginate">
            <a href="?p=1&q=<%= q %>" tabindex="0" class="first paginate_button"
               id="dataTable1_first">First</a>
            <a href="?p=<%= pg - 1 %>&q=<%= q %>" tabindex="0" class="previous paginate_
                                    <% if (pg == 1) { %>
                                        button paginate_button_disabled
                                    <% } %>
                                  " id="dataTable1_previous">Previous</a>

            <a
                    <% if (!(pg * 10 >= c)) { %>
                    href="?p=<%= pg + 1 %>&q=<%= q %>"
                    <% } else { %>
                    href="#"
                    <% } %>
                    tabindex="0" class="next paginate_button"
               id="dataTable1_next"
                    >Next</a>

            <a href="?p=<%= Math.floor(c / 10) + 1 %>&q=<%= q %>" tabindex="0" class="last paginate_button"
               id="dataTable1_last">Last</a>
        </div>
        <% } %>
        <% } %>
    </div>


    <div class="col-md-1 section hidden-md hidden-sm hidden-print"
         style="display: block;overflow:hidden;min-width:120px;">
        <div style="width: 120px;margin-left: -20px;">
            <p style="padding: 5px;text-align: center;">Are we missing a book?</p>
        </div>
        <a class="btn btn-xs btn-default" style="color: white;" href="/additem">Submit a book</a>
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=lookfwd01-20&amp;o=15&amp;p=8&amp;l=as1&amp;asins=0345535529&amp;ref=tf_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                style="width: 119px;height:239px;top: -1px; left: -19px;position: relative;" scrolling="no"
                marginwidth="0"
                marginheight="0" frameborder="0"></iframe>
        <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=lookfwd01-20&amp;o=15&amp;p=8&amp;l=as1&amp;asins=0062345214&amp;ref=tf_til&amp;fc1=000000&amp;IS2=1&amp;lt1=_blank&amp;m=amazon&amp;lc1=0000FF&amp;bc1=000000&amp;bg1=FFFFFF&amp;f=ifr"
                style="width: 119px;  height: 238px;  top: 0px;  left: -19px;  position: relative;" scrolling="no"
                marginwidth="0" marginheight="0" frameborder="0"></iframe>
        <div style="width: 120px;margin-left: -20px;">
            <p style="padding: 5px;text-align: center;">Like our app? Want to support us?</p>

            <form style="padding-left: 0px;padding-bottom:10px;text-align: center;"
                  action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="6XSZTKUYJZG58">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0"
                       name="submit" alt="PayPal - The safer, easier way to pay online!" style="
">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>

    </div>
</div>
</div>

<% include footer %>
</div>
</body>

</html>